* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

:root {
  --page-control-duration-time: 2.8s;
}

body,
html {
  // color: var(--tg-theme-text-color);
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
}

.a7LD {
  // background-color: var(--tg-theme-section-bg-color);
  background-color: #17212b;
//   rgb(35, 46, 60);
  padding: 16px 16px 12px;
}

.rpx1 {
  // color: var(--tg-theme-subtitle-text-color);
  color: #708499;
  margin-bottom: 1px;
}

.NH9b {
  text-align: center;
}
.PmUA {
  font-weight: 400;
}
.IqPa {
  --skeleton-height: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cpHh {
  font-family: Roboto, system-ui, sans-serif;
}

.YWSF {
  align-items: center;
  display: flex;
  gap: 10px;
}

.htWJ {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.Neh8,
.j3af .JLFu,
.j3af .NH9b {
  // color: var(--tg-theme-subtitle-text-color);
  color: #708499;
}

.htWJ .tWFE,
.htWJ .tWFE ~ .Neh8,
.htWJ .xAWJ {
  font-size: 32px;
  line-height: 40px;
}

.YE3Y {
  // background-color: var(--tg-theme-section-bg-color);
  background-color: #17212b;
//   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;
  padding: 0 8px 8px;
}
.eF4q {
  margin-bottom: 4px;
  padding-inline: 16px;
}
.EFAG {
  padding-block: 8px;
}
.VFOP {
  padding-inline: 16px;
}

._LuN.ElzW {
  gap: 0;
}
._LuN {
  display: flex;
  gap: 8px;
  justify-content: center;
}

._LuN > * {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}
.Kp43 {
//   background: transparent;
  // color: var(--tg-theme-accent-text-color);
  color: #6ab2f2;
  background-color: transparent;
  transition: color ease;
  transition-duration: 0.3s;
  &:active {
    transition-duration: 0s;
    color: rgba(106, 178, 242, .6)
  }
}

// .Kp43:active {
//     transition-duration: 0.3s;
//     opacity: .6;
// }

.EGpD {
  border-radius: 8px;
}
.V7r1 {
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.r2DG {
  cursor: pointer;
  position: relative;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

.P13Q {
    border-radius: inherit;
}

.V7r1.x4dM.aPJp.dDTU .dEpV {
    gap: 2px;
}
.V7r1.x4dM.aPJp .qSw9 {
    gap: 1px;
}
.V7r1.x4dM.aPJp .dEpV {
    flex-direction: column;
    padding: 7px 4px 8px;
}
.dEpV {
    align-items: center;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.V7r1.x4dM.aPJp.dDTU .S5cS {
    height: 32px;
    width: 32px;
}
.V7r1.x4dM.aPJp .S5cS {
    height: 28px;
    width: 28px;
}
.S5cS {
    display: flex;
    justify-content: center;
}

.V7r1.x4dM.aPJp .m_Vw {
    max-width: 100%;
}
.m_Vw {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CF5m {
    font-weight: 500;
}
.TmXY, .YLSR {
    --skeleton-height: 10px;
    font-size: 14px;
    line-height: 16px;
}
.YLSR {
    font-weight: 400;
}
.cpHh {
    font-family: Roboto,system-ui,sans-serif;
}

.gtBI {
  border-radius: inherit;
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.S5cS svg, .t2TV {
    display: block;
    width: 100%;
}
.S5cS svg {
    height: 100%;
}
svg {
    display: block;
}

.go3974562317 {
    background-color: #354656 !important;
    color: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0,0,0, 0.16);
    padding: 8px 16px 8px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
  }

  @media not all and (hover: none) {
    .go4218612181:hover {
      transform: scale(1) !important;
    }
  }